entrypoint = "index.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"
packages = ["imagemagick_light"]

[deployment]
run = ["sh", "-c", "node index.js"]
deploymentTarget = "gce"
ignorePorts = true

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3000

[workflows]
runButton = "Start Bots"

[[workflows.workflow]]
name = "Start Bots"
author = 38836468
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm run build --filter bot1"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm run build --filter bot2  "

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm run build --filter bot3"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm start"
