run = "node combined.js"
language = "nodejs"
entrypoint = "combined.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"
packages = ["imagemagick_light"]

[deployment]
run = ["node", "combined.js"]
deploymentTarget = "gce"
ignorePorts = true

[workflows]
runButton = "Start Bots"

[[workflows.workflow]]
name = "Start Bots"
author = 38836468
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm start"

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

